/* Responsive styles for the table */
@media all and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #8785a3;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }

  td {
    max-width: 150px !important;
    overflow-x: hidden;
    height: fit-content !important;
  }

  td select {
    font-size: 0.7rem;
    padding: 3px;
  }

  td .btn {
    background: var(--db2);
    padding: 2px 5px !important;
    font-size: 0.7rem !important;
  }

  .table-dis,
  .par-req-tb {
    display: none !important;
  }

  #par-cards-box {
    display: flex !important;
  }
}

/* Additional styles for responsiveness and styling */
@media all and (max-width: 1250px) {
  #dis-req-grid {
    display: flex !important;
  }

  .table-dis,
  .pck-tb {
    display: none !important;
  }
}

/* Additional styles for various sections */
#as-req {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

#as-req div {
  background: rgb(99, 101, 117);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  max-width: 250px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.267);
}

#dis-req-grid,
#par-cards-box {
  display: none;
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e4e4e4;
  padding: 12.5px 20px;
}

.filters > * {
  display: flex;
}

table .btn {
  padding: 7px 17px;
}

.filter-title {
}

.desc-pro {
  max-height: 150px;
  overflow-y: scroll;
}

.asr-row td,
.asr-row th {
  vertical-align: top;
}

/* Additional styles for various sections */
/* ... (Add styles for other sections as needed) */

/* Styles for the responsive table */
.par-table {
  width: 100%;
}

.pc-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #005c97;
  box-shadow: 0 0 25px 1px #0000003b;
  margin: 20px;
  color: #f8f8f8;
  padding: 20px;
  font-size: 1.2rem;
}

.pc-info p {
  text-transform: capitalize;
}

.yes-bill {
  background: #fff;
  box-shadow: 0 0 25px 1px #0000002e;
  padding: 20px;
  margin: 20px;
}
/* Wallet.css */

.wallet-container {
  padding: 20px;
}

.wallet-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.wallet-buttons button {
  width: 100%; /* Make the button full width */
}

/* Add additional styles as needed for responsiveness */
@media (max-width: 768px) {
  .wallet-container {
    padding: 10px;
  }

  .wallet-buttons {
    flex-direction: column;
    gap: 10px;
  }

  /* Add more responsive styles as needed */
}
