.wrappserinside {
  margin-top: 10rem;
}

.wrapper {
  @apply mt-24 flex items-center justify-center flex-col;
  margin-top: 20rem;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}

.btn1 > div {
  border: 2px solid red;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  font-size: 30px;
}
