.view-more {
  color: black;
}
/* Various.css */
.various-sites-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sites-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.site-card {
  flex: 0 0 calc(18% - 1.5rem);
  height: 100px; /* Adjust the height as needed */
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.site-img {
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.view-more-container {
  margin-top: 2rem;
}

.view-more-link {
  text-decoration: none;
}

.view-more-btn {
  padding: 10px 20px;
  background-color: #2c2d5b;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #1a1b3f;
}

.view-more-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .site-card {
    flex: 0 0 calc(100% - 1.5rem);
  }
}
