.container-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  padding: 4rem;
  padding-left: 5.4rem;
  padding-right: 5.4rem;
}

.plan1 {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.plan1:hover {
  cursor: pointer;
  box-shadow: 0 12px 20px rgba(255, 165, 0, 0.5); /* Adjust shadow on hover */
}

.pl2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0, 0, 0);
}

.plan-subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(107, 114, 128);
}

.plan-heighlight {
  background-color: #f9fafb;
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(75, 85, 99);
}

.plan-li {
  display: flex;
  gap: 8px;
  padding: 0.5rem;
}

.plan-ul {
  padding: 1rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container-plan {
    grid-template-columns: 1fr;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .plan1 {
    margin-bottom: 2rem;
  }
}
